/* Estilos para la pagina Café */

/* Selector Universal */
*{
    padding: 0;
    margin: 0;
}

/* Selector de etiqueta */

body {
    background-color: #f1ecea;
    color: #f1ecea;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
}

/* Selector de clase */

.encabezado {
    padding: 10px;
    text-align: center;
    background-color: #3a251c;
    color: rgb(255, 255, 255);
    margin: 0em 0em;
    border-radius: 5px;
    font-size: 30px;
}

.barraNavegacion {
    display: flex;
    justify-content: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    padding: 0 25px;
    
}

.pieNavegacion{
    padding: 10px;
}

.pieNavegacion li{
    display: block;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 22px;
    padding: 0 2px;
}

.texto {
    text-align: justify;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    padding: 5px 25px;
    color: white;
}

/* Selector ID */

#dimensiones{
    width: 900px;
    height: 1000px;
    max-width: 0 auto;
    border-radius: 5px;
    background-color: #362f2f;
}

#cabecera{
    height: 15%;
    background-color: #3a251c;
    margin: 0em;
    padding: 0 50px;
    border-radius: 5px;
}

#barra-de-navegacion {
    height: 5%;
    background-color: #b46424;
}

#seccion {
    height: 60%;
    width: 64%;
    background-color: #362f2f;
    display: inline-block;
    border-radius: 5px;
    text-align: center;
}

#aside {
    height: 75%;
    width: 35%;
    background-color: #b58c7c;
    border-radius: 5px;
    display: inline-block;
    vertical-align:top;
    font-size: 20px;
}

#pieDePagina {
    height: 10%;
    background-color: #3a251c;
    text-align: center;
}

/* Selector de etiqueta HTML */

ul{
    justify-content: center;
}

li{
    display: inline;
    padding: 10px 30px;
}

img {
    width: 100px;
    height: 100px;
    border: 1px solid #000;
    margin-left: 5px;
    margin-right: 5px;
}

/* Selector de evento */

li a:hover{
    color:crimson;
    text-decoration: none;
    list-style: none;
}