/* Estilos para la pagina Café */

/* Selector Universal */
*{
    padding: 0;
    margin: 0;
}

/* Selector de etiqueta */

body {
    background-color: white;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
}

/* Selector de clase */

.header {
    padding: 20px;
    margin: 0em 0em;
    font-size: 30px;
    color: whitesmoke;
}

.navBar {
    display: flex;
    justify-content: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    padding: 10px;
    font-weight: bold;
    
}

.navFoot{
    padding: 10px;
}

.navFoot li{
    display: block;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 22px;
    padding: 0 2px;
}

.text {
    text-align: justify;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    padding: 5px 25px;
    color: black;
}

/* Selector ID */

#main{
    width: 100%;
    height: 1000px;
    max-width: 0 auto;
    border-radius: 5px;
    background-color: white;
}

#headBoard{
    height: 10%;
    background-color: purple;
    margin: 0em;
    padding: 0 50px;
    text-align: center;
}

#navigation-bar {
    height: 3%;
    background-color: #f0dfea;
}

#section {
    height: 60%;
    width: 79%;
    background-color: white;
    display: inline-block;
    border-radius: 5px;
    text-align: center;
}

#aside {
    height: 75%;
    width: 20%;
    background-color: #f0dfea;
    border-radius: 5px;
    display: inline-block;
    vertical-align:top;
    font-size: 20px;
    margin-top: 5px;
    margin-right: 5px;
}

#footer {
    background-color: white;
    text-align: center;
}

/* Selector de etiqueta HTML */

ul{
    justify-content: center;
}

li{
    display: inline;
    padding: 10px 30px;
}

img {
    border: 1px solid white;
    border-radius: 5px;
    margin-left: 150px;
    margin-top: 20px;
}

/* Selector de evento */

li a:hover{
    color: #00aae4;;
    text-decoration: none;
    list-style: none;
}